# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Development Environment
# Ignore the development directory which may contain sensitive files.
/environment/development/

# macOS
.DS_Store

# Vim swap files
*.sw[op]
