@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('ShareTechMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
